<h6>Below is a dashboard of the most common economic indicators.</h6>
<hr>
<div id="masonryContainer">
	<% @top_ten.each do |indicator| %>
		<% unless indicator.observations.nil? %>
			<div class="large-3 columns indicator masonry-brick">
				<h5><%= indicator.name %></h5>
				<p class="subheader">Recent Change: <%= indicator.percentage_change %>%</p>
				<%= area_chart indicator.chart_values, height: "120px" %>
				<div class="hidden_values" style="display:none; margin-top:10px;">
					<p class="subheader">Current Value: <%= indicator.current_value %></p>
					<p class="subheader">Most Recent: <%= indicator.last_observation %></p>
				</div>
				
				<!-- 	<%= link_to "Delete", indicator, method: :delete %> -->
			</div>
		<% end %>
	<% end %>
</div>